SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^users$ userHandler.php [L]

RewriteRule ^sessions$ sessionsHandler.php [L]